<% content_for :right_top_nav do %>
    <div xmlns="http://www.w3.org/1999/html">
      <a class="top_link" href="/inventory_operation/purchase">进货</a>
      <a class="top_link" href="/inventory_operation/sale">出货</a>
      <div class="clear"></div>
    </div>
<% end %>