// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.login_from{
  background-color: #ececec;

}



.login_item_left{
  float: left;
  paddin-left: 20px;
  padding-top:5px;
  padding-bottom: 5px;
  width: 470px;
}

.login_item_right{
  float: left;
  paddin-left:10px;
  padding-top:5px;
  padding-bottom: 5px;
  width: 400px;
}

.login_title{
  font-size: 30px ;
}


