<% content_for :right_top_nav do %>
    <div xmlns="http://www.w3.org/1999/html">
      <a class="top_link" href="/main/list"><< back</a>
      <div class="clear"></div>
    </div>
<% end %>


<%= form_for :brand,:method=>:put,  url: brand_path do |brand| %>

    <div class="content" style="margin-top: 20px;">
      <div class="content_row">
        <div class="content_cell" style="width:100px">
          <%= brand.label :名称  %>
        </div>
        <div class="content_cell">
          <%= brand.text_field :name,:value=>@brand.name %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="content_row">
        <%=  brand.submit :编辑  %>
      </div>
    </div>
<% end %>
