<!DOCTYPE html>
<html>
<head>
  <title>Warehouse(showroom)</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<div style="margin-top:40px;" class="wraper">
<%= yield %>

</div>
</body>
</html>
